<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/kMVqz1K3lJu3g4C2yOt6nfx1NNMRdyz0HXov9pGi3mXKjbl2XFK9xZPd9XyG6XTB/8x8es5X+Xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" integrity="sha384-UzomW2R7c1D7vo/vSjtyUlbhlmJ8LZ+DRjW/zhbKUp7AWGzZQL57/bjH5CV2N2zJ" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="resources/css/graficos.css" />
    <title>Ventas</title>
</head>
<body>

    <div class="header-container">
        <h1>Dashboard</h1>
    </div>

    <div class="container">
        <div class="card" style="border: 2px solid #01A768;">
            <a href="/ventas" onclick="cargarContenido('/ventas')" class="btn-group"><img class="icono" src="resources/images/iconos/money-ventas.svg" alt="Productos"></a>

            <h2 id="ventasMes"></h2>
            <p>Ventas del mes</p>
            <div class="details">
                <a href="/ventas" onclick="cargarContenido('/ventas')" style="background-color: #A6DBCB; color: black;">Ver Detalle Ventas &raquo;</a>
            </div>
        </div>
    
        <div class="card" style="border: 2px solid #FED600;">
            <a href="#" onclick="cargarContenido('/ganancias_es')" class="btn-group"><img class="icono" src="resources/images/iconos/person.svg" alt="Cajas"></a>

            <h2 id="clientesRegistradosMes"></h2>
            <p>Total de clientes</p>
            <div class="details">
                <a href="#" style="background-color: #F2E9AC; color: #000;">Ver Registro &raquo;</a>
            </div>
        </div>
    
        <div class="card" style="border: 2px solid #03A9F5;">
            <a href="#" onclick="cargarContenido('/ganancias_es')" class="btn-group"><img class="icono" src="resources/images/iconos/recursos-h.svg" alt="Ventas"></a>

            <h2 id="ventasSemana"></h2>
            <p>Ventas de la semana</p>
            <div class="details">
                <a href="#" style="background-color: #A7DCF5; color: #000;">Ver Ventas &raquo;</a>
            </div>
        </div>
        <div class="card" style="border: 2px solid #F0483E;">
            <a href="#" onclick="cargarContenido('/ganancias_es')" class="btn-group"><img class="icono" src="resources/images/iconos/inventory.svg" alt="Ventas"></a>

            <h2 id="medicamentosapuntovencer">01</h2>
            <p>Escasez de Medicamentos</p>
            <div class="details">
                <a href="#" style="background-color: #EEBFBF; color: #000;">Ver Inventario &raquo;</a>
            </div>
        </div>
    </div>

    <div class="container2">

        <!-- Card 1: Ventas Mensuales -->
        <div class="card2">
            <div class="header-card2">
                <span>Ventas Mensuales</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2 id="obtenerVentasMest"></h2>
                    <p>Número total de ventas</p>
                </div>
                <div>
                    <h2 id="obtenerProductoMasVendido"></h2>
                    <p>Producto frecuente</p>
                </div>
            </div>
        </div>

        <!-- Card 2: Productos -->
        <div class="card2">
            <div class="header-card2">
                <span>Productos</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2>70,856</h2>
                    <p>Medicamentos vendidos</p>
                </div>
                <div>
                    <h2>5,288</h2>
                    <p>Cantidad Productos</p>
                </div>
            </div>
        </div>

        <!-- Card 3: Pedidos -->
        <div class="card2">
            <div class="header-card2">
                <span>Pedidos</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2>04</h2>
                    <p>Total pedidos</p>
                </div>
                <div>
                    <h2>5</h2>
                    <p>Pedidos pendientes</p>
                </div>
            </div>
        </div>

        <!-- Card 4: Compras -->
        <div class="card2">
            <div class="header-card2">
                <span>Compras</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2>845</h2>
                    <p>Número total de compras</p>
                </div>
                <div>
                    <h2>Droguería Inti</h2>
                    <p>Proveedor</p>
                </div>
            </div>
        </div>
    </div>
  
</body>

<script>
    
// Hacer una solicitud al servidor para obtener los datos
fetch('/datos')
  .then(response => response.json())
  .then(data => {
    // Actualizar los divs con los datos recibidos
    document.getElementById('ventasMes').innerText = ' Bs. '+  data.ventasMes;
    document.getElementById('ventasSemana').innerText = data.ventasSemana + ' Bs';
    document.getElementById('clientesRegistradosMes').innerText =  data.clientesRegistradosMes;
    document.getElementById('medicamentosapuntovencer').innerText =  data.medicamentosapuntovencer;
    document.getElementById('obtenerVentasMest').innerText =  data.obtenerVentasMest;
    document.getElementById('obtenerProductoMasVendido').innerText =  data.obtenerProductoMasVendido || 'No hay ventas este año'; // Manejar el caso null
  })
  .catch(error => {
    console.error('Error fetching data:', error);
  });

</script>
</html>

<style>
     #obtenerProductoMasVendido {
    font-size: 1.5rem; /* Ajusta el tamaño según sea necesario */
    white-space: nowrap; /* Evita el salto de línea, si deseas que sea en una sola línea */
    overflow: hidden; /* Oculta el desbordamiento si el texto es demasiado largo */
    text-overflow: ellipsis; /* Agrega "..." si el texto desborda */
  }
</style>