<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://kit.fontawesome.com/a076d05399.js"
            crossorigin="anonymous"></script>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/kMVqz1K3lJu3g4C2yOt6nfx1NNMRdyz0HXov9pGi3mXKjbl2XFK9xZPd9XyG6XTB/8x8es5X+Xw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css"
            integrity="sha384-UzomW2R7c1D7vo/vSjtyUlbhlmJ8LZ+DRjW/zhbKUp7AWGzZQL57/bjH5CV2N2zJ"
            crossorigin="anonymous">
        <!-- custom css -->
        <link rel="stylesheet" href="resources/css/graficos.css" />
        <!-- SweetAlert2 CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        <title>Ventas</title>
    </head>
    <body>

        <div class="header-container">
            <h1>Tablero</h1>
        </div>

        <div class="container">
            <div class="card" style="border: 2px solid #01A768;">
                <a href="/ganancias_es" onclick="cargarContenido('/ventas')"
                    class="btn-group">
                    <img class="icono"
                        src="resources/images/iconos/money-ventas.svg"
                        alt="Productos">
                </a>

                <h2 id="ventasMes">Cargando...</h2>
                <p>Ventas del Mes</p>
                <div class="details">
                    <a href="#" onclick="verDetallesVentas()"
                        style="background-color: #A6DBCB; color: black;">Ver
                        Detalle Ventas &raquo;</a>
                </div>
            </div>

            <div class="card" style="border: 2px solid #FED600;">
                <a href="#" onclick="cargarContenido('/ganancias_es')"
                    class="btn-group"><img class="icono"
                        src="resources/images/iconos/person.svg"
                        alt="Cajas"></a>

                <h2 id="clientesRegistradosMes">Cargando...</h2>
                <p>Clientes Registrados en el Mes</p>
                <div class="details">
                    <a href="#" onclick="verDetallesClientes()"
                        style="background-color: #F2E9AC; color: #000;">Ver
                        Registro &raquo;</a>
                </div>
            </div>

            <div class="card" style="border: 2px solid #03A9F5;">
                <a href="#" onclick="cargarContenido('/ganancias_es')"
                    class="btn-group"><img class="icono"
                        src="resources/images/iconos/recursos-h.svg"
                        alt="Ventas"></a>

                <h2 id="ventasSemana">Cargando...</h2>
                <p>Total de Compras del Mes</p>
                <div class="details">
                    <a href="#" onclick=" verDetallesCompras()"
                        style="background-color: #A7DCF5; color: #000;">Ver
                        Ventas &raquo;</a>
                </div>
            </div>
            <div class="card" style="border: 2px solid #F0483E;">
                <a href="#" onclick="cargarContenido('/ganancias_es')"
                    class="btn-group"><img class="icono"
                        src="resources/images/iconos/inventory.svg"
                        alt="Ventas"></a>

                <h2 id="medicamentosapuntovencer">Cargando...</h2>
                <p>Medicamentos en Escasez</p>
                <div class="details">
                    <a href="#" onclick=" verDetallesInventario()"
                        style="background-color: #EEBFBF; color: #000;">Ver
                        Inventario &raquo;</a>
                </div>
            </div>
        </div>

        <div class="container2">

            <!-- Card 1: Ventas Mensuales -->
            <div class="card2">
                <div class="header-card2">
                    <span>Ventas Mensuales</span>
                    <a href="#" onclick="verDetallesVentasG()">Ver más
                        &raquo;</a>
                </div>
                <div class="content-card2">
                    <div class="anchor">
                        <h3 class="rec" id="obtenerVentasMest">Cargando...</h3>
                        <p>Total de Ventas Realizadas</p>
                    </div>
                    <div class="anchor">
                        <h3 class="rec"
                            id="obtenerProductoMasVendido">Cargando...</h3>
                        <p>Producto mas Vendido de la Gestion</p>
                    </div>
                </div>
            </div>

            <!-- Card 2: Productos -->
            <div class="card2">
                <div class="header-card2">
                    <span>Productos</span>
                    <a href="#" onclick="verProductosVendidosMes()">Ver más
                        &raquo;</a>
                </div>
                <div class="content-card2">
                    <div>
                        <h3 class="rec"
                            id="obtenerTotalProductosVendidosMesSucursal">Cargando...</h3>
                        <p>Cantidad de Productos Vendidos en el Mes</p>
                    </div>
                    <div class="anchor">
                        <h3 class="rec" class="rec"
                            id="obtenerCantidadTotalInventario">Cargando...</h3>
                        <p>Cantidad Productos en Inventario</p>
                    </div>
                </div>
            </div>

            <!-- Card 3: Pedidos -->
            <div class="card2">
                <div class="header-card2">
                    <span>Pedidos Mensuales</span>
                    <a href="#" onclick="verPedidosMensualesAno()">Ver más &raquo;</a>
                </div>
                <div class="content-card2">
                    <div class="anchor">
                        <h2 id="obtenerTotalPedidosMesActual_m">Cargando...</h2>
                        <p>Total Pedidos en el Mes</p>
                    </div>
                    <div class="anchor">
                        <h2 id="obtenerTotalPedidosEstado1_G">Cargando</h2>
                        <p>Pedidos Pendientes</p>
                    </div>
                </div>
            </div>
            
            
            <!-- Card 4: Compras -->
            <div class="card2">
                <div class="header-card2">
                    <span>Compras</span>
                    <a href="#" onclick="verProductosCompradosMes()">Ver más
                        &raquo;</a>
                </div>
                <div class="content-card2">
                    <div class="anchor">
                        <h3 class="rec"
                            id="obtenerTotalComprasC">Cargando...</h3>
                        <p>Número Total de Compras</p>
                    </div>
                    <div class="anchor">
                        <h3 class="rec"
                            id="obtenerProveedorMasComprado">Cargando...</h3>
                        <p>Proveedor</p>
                    </div>
                </div>
            </div>

        </div>

    </body>
    <!-- SweetAlert2 JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="js/ventasmensuales.js"></script>
    <script src="js/datos.js"></script>
    <script src="js/clientesmensuales.js"></script>
    <script src="js/comprasMensuales.js"></script>
    <script src="js/InventarioTabla.js"></script>
    <script src="js/graficoventas.js"></script>
    <script src="js/graficoproductos.js"></script>
    <script src="js/gaficoCompras.js"></script>
    <script src="js/graficoPedidos.js"></script>
</html>
