<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="resources/css/cajas.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <title>Ventas - Finanzas</title>
</head>
<body>

<!-- Encabezado -->
<div class="header-container">
  <div class="breadcrumb">
      <h1 style="color: #858B92; font-weight: bold; margin-right: 5px;">Finanzas</h1>
      <h2 style="font-size: 40px; margin: 0 10px;">›</h2>
      <h1 style="font-weight: bold;">Cajas</h1>
  </div>
 
  <div class="button-container">
      <button class="btn btn-success">Abrir todas las Cajas</button>
      <button class="btn btn-danger">Cerrar todas las Cajas</button>
  </div>
  
</div>

    <!-- Contenido de las tarjetas -->
    <div class="container2">
        <!-- Card 1: Ventas Mensuales -->
        <div class="card1">
            <div class="header-card1">
                <span>Tablero de Cajas - Sucursal Miraflores</span>
            </div>
            <div class="content-card1">
                <div>
                    <h2 id="">Bs. 12,345</h2>
                    <p>Venta total del dia</p>
                </div>
                <div style="margin: 25px;">
                    <p>Ver reporte del dia >></p>
                </div>
            </div>
        </div>

     <!-- Card 2: Productos -->
      <div class="card1">
        <div class="header-card1">
            <span>Configurar Caja</span>
            
        </div>
        <div class="content-card11">
            <div class="flex-row">
                <p>Medicamentos vendidos en el mes</p>
                <button class="btn btn-blue">Agregar</button>
            </div>
            <br>
            <div class="flex-row">
                <p>Cantidad de productos en inventario</p>
                <button class="btn btn-blue">Agregar</button>
            </div>
        </div>
      </div>


        <!-- Card 3: Pedidos -->
        <div class="card2">
            <div class="header-card2">
                <span>Pedidos</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2 id="totalPedidos">04</h2>
                    <p>Total pedidos</p>
                </div>
                <div>
                    <h2 id="pedidosPendientes">05</h2>
                    <p>Pedidos pendientes</p>
                </div>
            </div>
        </div>

        <!-- Card 4: Compras -->
        <div class="card2">
            <div class="header-card2">
                <span>Compras</span>
                <a href="#">Ver más &raquo;</a>
            </div>
            <div class="content-card2">
                <div>
                    <h2 id="totalCompras">20</h2>
                    <p>Número total de compras</p>
                </div>
                <div>
                    <h2 id="proveedor">Laboratorios ACME</h2>
                    <p>Proveedor</p>
                </div>
            </div>
        </div>
    </div>

   

</body>
</html>
