<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos - Farmacia</title>

    <link rel="icon" href="/resources/images/iconos/farmacia.ico">

    <link rel="stylesheet" href="/resources/css/sistema_clientes/paginapedidos_index.css" />

</head>

<body>
 
    <!--Cavecera-->
    <header class="custom-header">
      
        <div class="header-container">
          
            <a href="/pagina_pedidos/clientes_index" class="custom-logo">
                <img src="/resources/images/iconos/farmacia.ico" alt="Farmacia 25 de Julio">
                <span class="logo-text">
                    <span class="logo-main">Bienvenido a la Farmacia 25 de Julio</span>
                    <span class="logo-sub">Tu mejor opcion</span>
                </span>
            </a>
           
            <nav class="custom-nav">
               
                <ul class="nav-list">
                   
                    <li><a href="/pagina_pedidos/clientes_index" class="nav-link">Inicio</a></li>
                    <li><a href="/pagina_pedidos/productos/1" class="nav-link">Tienda</a></li>
                    <li><a href="/pagina_pedidos/otros/contactanosP" class="nav-link">Contacto</a></li>
                    <li><a href="/pagina_pedidos/login_clientes" class="nav-link">Mis Compras</a></li>
                </ul>
            </nav>
       
        
         
            <a href="#" class=""></a>
        </div>
    </header>

    

    <!--Seccion de Bienvenida-->
    <section class="welcome-section">
        <div class="welcome-container">
          <div class="welcome-text">
            <h1 class="welcome-title">¡Bienvenido a nuestra farmacia en línea!</h1>
            <p class="welcome-subtitle">
              Explora nuestras opciones y no dudes en consultarnos cualquier inquietud. Estamos listos para ayudarte.
            </p>
            <a href="/pagina_pedidos/productos/1" class="btn-buy">Comprar</a>
          </div>
          <div class="welcome-image">
            <img src="/resources/images/img_pagina_clientes/img1_pagina_clientes.png" alt="Farmacia en línea">
          </div>
        </div>
    </section>
      
    <!--Seccion de Nuestros servicios-->

    <section class="services-section">
        <h2 class="services-title">Nuestros Servicios</h2>
        <div class="services-container">
          <!-- Servicio 1 -->
          <div class="service-card service-card-blue">
            <div class="service-icon">
              <img src="/resources/images/img_pagina_clientes/relogito.png" alt="Consultas 24h">
            </div>
            <h3 class="service-name1">Realiza Consultas</h3>
            <p class="service-description">24h</p>
          </div>
      
          <!-- Servicio 2 -->
          <div class="service-card service-card-orange">
            <div class="service-icon2">
              <img src="/resources/images/img_pagina_clientes/delivery.png" alt="Pedidos">
            </div>
            <h3 class="service-name2">Pedidos</h3>
            <p class="service-description">Coordina Tu Pedido</p>
          </div>
      
          <!-- Servicio 3 -->
          <div class="service-card service-card-green">
            <div class="service-icon">
              <img src="/resources/images/img_pagina_clientes/recordatorio.png" alt="Recordatorio">
            </div>
            <h3 class="service-name3">Recordatorio</h3>
            <p class="service-description">No Olvides Tomar Tu Pastilla</p>
          </div>
        </div>
      </section>

    <!-- Seccion pie de pagina-->
    

    <!-- Asegúrate de incluir Font Awesome -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script>


        function cambiarSucursal() {
            const sucursalId = document.getElementById('sucursal').value;
            window.location.href = `/pagina_pedidos/clientes_index/${sucursalId}`;
        }

    </script>

</body>
</html>
