<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos - Farmacia</title>
    <link rel="stylesheet" href="/resources/css/paginapedidos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    /* Estilos para el dropdown */
    .dropdown {
    position: relative;
}

.dropdown-menu {
    display: none; /* El menú estará oculto por defecto */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    top: 100%; /* Aparece justo debajo del ícono de perfil */
    left: 0;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

</style>
<body>
    <div class="top-header">
        <a href="/pagina_pedidos/clientes_index/:idSucursal" class="logo">
            <img src="resources/images/iconos/farmacia.ico" alt="Farmacia 25 de Julio">
        </a>   
        <ul>
            <li><a href="/pagina_pedidos/clientes_index/:idSucursal" class="dropdown">Inicio</a></li>
            <li><a href="/pagina_pedidos/productos/:idSucursal" class="dropdown">Tienda</a></li>
            <li><a href="#contacto" class="dropdown">Contactos</a></li>
            <% if (estaLogueadoCliente) { %>
                <li><a href="/pagina_pedidos/consultas" class="dropdown">Consultas</a></li>
                <li><a href="/pagina_pedidos/miscompras" class="dropdown">Compras</a></li>
                <li><a href="/pagina_pedidos/recordatorio" class="dropdown">Recordatorio</a></li>
                <!-- Icono de perfil que abre el dropdown -->
                <li class="dropdown">
                    <a href="javascript:void(0);" onclick="toggleDropdown()">
                        <i class="fas fa-user"></i> Perfil
                    </a>
                    <!-- Menú desplegable -->
                    <ul id="profile-dropdown" class="dropdown-menu">
                        <li><a href="/pagina_pedidos/perfil">Mi Perfil</a></li>
                        <li><a href="/pagina_pedidos/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
            <% } else { %>
                <!-- Botones de Iniciar Sesión y Registrar solo cuando no está logueado -->
                <li><a href="/pagina_pedidos/login_clientes" class="btn-login">Iniciar sesión</a></li>
                <li><a href="/pagina_pedidos/registrar_clientes" class="btn-register">Registrar</a></li>
            <% } %>
        </ul>
        <a href="#" class="cart-icon" onclick="mostrarCarrito(); return false;">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-count">0</span>
        </a>
        <!-- Selector de Sucursales -->
        <select name="sucursal" id="sucursal" class="location-select" onchange="cambiarSucursal()">
            <% results.forEach(sucursal => { %> 
                <option value="<%= sucursal.ID_Sucursal %>" <%= idSucursal == sucursal.ID_Sucursal ? 'selected' : '' %>><%= sucursal.Nombre %></option>
            <% }); %>
        </select>
    </div>

    <header>
        <div class="left-content">
            <h1>¡Bienvenido a nuestra Farmacia en Línea!</h1>
            <p>Explora nuestras opciones y no dudes en consultarnos cualquier inquietud. Estamos listos para ayudarte.</p>
            <% if (estaLogueadoCliente) { %>
            <% } else { %>
                    <!-- Botón de Comprar -->
                    <button class="btn-buy" onclick="window.location.href='/pagina_pedidos/login_clientes'">Comprar</button>
            <% } %>
        </div>
    </header>

    <div class="services-section">
        <h2>Nuestros Servicios</h2>
        <div class="services-container">
            <a href="/pagina_pedidos/consultas" class="service-card">
                <div class="service-icon">
                    <i class="fas fa-clock"></i>
                </div>
                <h3>Realiza Consultas</h3>
                <p>24h</p>
            </a>
            <a href="/pagina_pedidos/productos" class="service-card">
                <div class="service-icon">
                    <i class="fas fa-truck"></i>
                </div>
                <h3>Pedidos</h3>
                <p>Coordina Tu Pedido</p>
            </a>
            <a href="/pagina_pedidos/recordatorio" class="service-card">
                <div class="service-icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h3>Recordatorio</h3>
                <p>No Olvides Tomar Tu Pastilla</p>
            </a>
        </div>
    </div>
    <!-- Nuevo carrito emergente -->
    <div id="cart-popup">
        <h2>Mi carrito</h2>
        <ul id="cart-items"></ul>
        <div class="cart-buttons">
            <% if (estaLogueadoCliente) { %>
                <button class="close-cart" onclick="cerrarCarrito()">Ocultar</button>
                <button class="checkout-cart" onclick="realizarCompra()">Continuar pedido</button>
            <% } else { %>
                    <!-- Botón de Comprar -->
                    <button class="btn-buy" onclick="window.location.href='/pagina_pedidos/login_clientes'">Comprar</button>
            <% } %>
        </div>
    </div>

    <!-- Sección de contacto al final -->
    <div id="contacto" class="contact-container">
        <div class="contact-info">
            <h2>Contacto</h2>
            <p>Si tienes alguna duda, por favor contacta con nosotros:</p>
            <p><strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 - 18:00</p>
            <p><strong>Teléfono:</strong> +34 123 456 789</p>
            <p><strong>Correo Electrónico:</strong> contacto@ejemplo.com</p>
        </div>
    </div>


    <script>
        function cambiarSucursal() {
            const sucursalId = document.getElementById('sucursal').value;
            window.location.href = `/pagina_pedidos/clientes_index/${sucursalId}`;
        }

        let carrito = JSON.parse(localStorage.getItem('cart')) || [];

        function agregarAlCarrito(productId, nombre, precio) {
            const productoExistente = carrito.find(item => item.id === productId);

            if (productoExistente) {
                productoExistente.quantity += 1;
            } else {
                carrito.push({
                    id: productId,
                    name: nombre,
                    price: precio,
                    quantity: 1
                });
            }

            localStorage.setItem('cart', JSON.stringify(carrito));
            mostrarCarrito();
            actualizarContadorCarrito();
        }

        function mostrarCarrito() {
            const carritoPopup = document.getElementById('cart-popup');
            const listaCarrito = document.getElementById('cart-items');
            listaCarrito.innerHTML = '';

            carrito.forEach(item => {
                const li = document.createElement('li');
                li.innerHTML = `
                    <div class="cart-item-details">
                        <div class="cart-item-title">${item.name}</div>
                        <div class="cart-item-price">$${item.price}</div>
                    </div>
                    <div class="cart-item-quantity">
                        <button class="quantity-btn" onclick="cambiarCantidad('${item.id}', -1)">-</button>
                        <span>${item.quantity}</span>
                        <button class="quantity-btn" onclick="cambiarCantidad('${item.id}', 1)">+</button>
                    </div>
                `;
                listaCarrito.appendChild(li);
            });

            carritoPopup.style.display = 'block';
        }

        function cerrarCarrito() {
            document.getElementById('cart-popup').style.display = 'none';
        }

        function cambiarCantidad(productId, change) {
            const producto = carrito.find(item => item.id === productId);
            
            if (producto) {
                producto.quantity += change;
                if (producto.quantity <= 0) {
                    carrito = carrito.filter(item => item.id !== productId);
                }
                localStorage.setItem('cart', JSON.stringify(carrito));
                mostrarCarrito();
                actualizarContadorCarrito();
            }
        }

        function actualizarContadorCarrito() {
            const total = carrito.reduce((sum, item) => sum + item.quantity, 0);
            document.querySelector('.cart-count').textContent = total;
        }

        function realizarCompra() {
            window.location.href = '/pagina_pedidos/carritopedidos';
        }
    </script>
<script>
    // Función para mostrar/ocultar el dropdown
    function toggleDropdown(event) {
        // Prevenir que el clic en el botón cierre inmediatamente el dropdown
        event.stopPropagation();
        
        const dropdown = document.getElementById('profile-dropdown');
        
        // Alternar entre mostrar y ocultar el menú
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    }

    // Cerrar el dropdown si el usuario hace clic fuera del menú
    window.onclick = function(event) {
        const dropdown = document.getElementById('profile-dropdown');
        if (dropdown.style.display === 'block' && !event.target.matches('.dropdown-btn, .dropdown-btn *')) {
            // Solo ocultar si el clic es fuera del botón de perfil y del dropdown
            dropdown.style.display = 'none';
        }
    };
</script>

</body>
</html>
