<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Virtual de Farmacia</title>
    <link rel="stylesheet" href="/resources/css/sistema_clientes/consulta.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>

    </style>
</head>

<body>
    <header class="custom-header">
        <div class="header-container">
            <a href="/pagina_pedidos/clientes_index" class="custom-logo">
                <img src="/resources/images/iconos/farmacia.ico" alt="Farmacia 25 de Julio">
                <span class="logo-text">
                    <span class="logo-main">Bienvenido a la Farmacia 25 de
                        Julio</span>
                    <span class="logo-sub">Tu mejor opcion </span>
                </span>
            </a>

            <nav class="custom-nav">

                <ul class="nav-list">

                    <li><a href="/pagina_pedidos/clientes_index" class="nav-link">Inicio</a></li>
                    <li><a href="/pagina_pedidos/productos/1" class="nav-link">Tienda</a></li>
                    <li><a href="/pagina_pedidos/otros/contactanosP" class="nav-link">Contacto</a></li>
                    <li><a href="/pagina_pedidos/login_clientes" class="nav-link">Mis Compras</a></li>
                </ul>
            </nav>

            <a href="#" class></a>
        </div>
    </header>
    <!-- Sección de contacto al final -->
  <div id="contacto" class="contact-container">
    <div class="contact-info">
        <h2>Contacto</h2>
        <p>Si tienes alguna duda, no dudes en contactarnos. Estaremos encantados de ayudarte.</p>
        <div class="contact-details">
            <div class="detail-item">
                <i class="fas fa-clock"></i>
                <div>
                    <strong>Horario de Atención:</strong>
                    <p>Lunes a Viernes, 9:00 - 18:00</p>
                </div>
            </div>
            <div class="detail-item">
                <i class="fas fa-phone-alt"></i>
                <div>
                    <strong>Teléfono:</strong>
                    <p>+591 74022148</p>
                </div>
            </div>
            <div class="detail-item"> 
                <i class="fas fa-envelope"></i>
                <div>
                    <strong>Correo Electrónico:</strong>
                    <p>farmacia25julio@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

        <!-- Mapa de Google -->
        <div class="map-container">
            <h3>Visítanos</h3>
            <p>Nuestra sucursal principal esta ubicado en:</p>
            <div class="map-embed">
                <!-- Aquí agregas el enlace de Google Maps -->
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d963.7059253878346!2d-68.178535!3d-16.537516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e37678c3f9aafb%3A0x0!2zMTbCsDMyJzE1LjEiUyA2OMKwMTAnNDIuNyJX!5e0!3m2!1ses!2ses!4v1699378895394!5m2!1ses!2ses" 
                width="100%" 
                height="300" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
            
            </div>
        </div>
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    </div>
</body>

</html>