/* Estilos globales */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333; /* Añadir color de texto predeterminado */
    margin: 0;
    padding: 60px 0; /* Asegura espacio por la barra superior fija */
}

/* Encabezado y contenedor superior */
.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

.top-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-header ul li {
    margin-right: 20px;
}

.top-header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.top-header ul li a:hover,
.top-header ul li a:active {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.top-header ul li a:focus {
    outline: 3px solid #007acc;
}

/* Carrito */
.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon .fas {
    font-size: 1.5em;
    color: #333;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 0.9em;
}

/* Selector de sucursales */
.location-select {
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-right: 15px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

/* Encabezado */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 150px 20px;
    background: linear-gradient(135deg, #393a79, #344a78);
    color: #ffffff;
}

header .left-content {
    width: 50%;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #d1e6f1;
}

/* Sección de servicios */
.services-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.services-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #007acc;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #007acc;
}

/* Sección de productos */
.products-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.products-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #007acc;
}

.products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.product-card h3 {
    font-size: 1.2em;
    color: #007acc;
    margin: 15px 0;
}

/* Contenedor de productos */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    font-size: 1.5em;
    color: #007acc;
    margin-bottom: 10px;
}

.product-item p {
    margin: 10px 0;
}

.product-item .price {
    font-weight: bold;
    color: #007acc;
}

/* Carrito emergente */
#cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: none;
}

#cart-popup h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cart-item-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item-title {
    font-size: 1em;
}

.cart-item-price {
    font-weight: bold;
    color: #007acc;
}

.cart-item-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-btn {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-buttons button {
    padding: 10px 15px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-buttons button:hover {
    background-color: #0056b3;
}

.cart-buttons button:focus {
    outline: 3px solid #007acc;
}

/* Sección de contacto */
.contact-container {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007acc;
}

.contact-info p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

/* Botón de inicio de sesión, registro y compra */
.button {
    background-color: #007acc; /* Color principal */
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3; /* Un azul más oscuro */
    transform: scale(1.05);
}

.button:focus {
    outline: 3px solid #007acc;
}

/* Estilos para el contenedor del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc;
    top: 100%;
    right: 0;
    min-width: 180px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;  /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente oculto */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar el menú al pasar el mouse o al hacer click */
.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Estilos para los elementos dentro del dropdown */
.dropdown-menu li {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para los elementos */
.dropdown-menu li:hover {
    background-color: #f1f1f1;
    color: #007bff;  /* Cambiar color del texto al pasar el mouse */
}

/* El último item sin borde inferior */
.dropdown-menu li:last-child {
    border-bottom: none;
}


/* Estilos adicionales para el botón del dropdown si es necesario */
.dropdown button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown button:hover {
    background-color: #0056b3;
}

    #profile-dropdown {
        display: none;  /* Asegúrate de que esté oculto por defecto */
    }
    
    
    .dropdown-menu li a {
        text-decoration: none;
        color: #333;
        display: block;
        width: 100%;
    }
    
    .dropdown-menu li:hover {
        background-color: #f1f1f1;
    }
/* Estilos para el perfil emergente */
.profile-popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999; /* Asegúrate de que el modal se muestre sobre otros elementos */
}

.profile-popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Estilos para el botón de cerrar */
.profile-popup-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
/* Contenedor principal de contacto */
.contact-container {
    display: flex; /* Para organizar los elementos en fila */
    justify-content: space-between;
    padding: 40px;
    background-color: #f3f4f6; /* Color de fondo suave */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Permite que los elementos se ajusten cuando la pantalla sea pequeña */
}

/* Información de contacto */
.contact-info {
    width: 48%; /* Asigna el 48% del espacio a los detalles de contacto */
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Mapa */
.map-container {
    width: 48%; /* Asigna el 48% del espacio al mapa */
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título del mapa */
.map-container h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para el texto debajo del título del mapa */
.map-container p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos del iframe */
.map-embed iframe {
    border-radius: 8px;
    width: 100%;
    height: 300px; /* Fija una altura más específica para el mapa */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Detalles de contacto */
.contact-details {
    display: flex;
    flex-direction: column;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
}

/* Estilo de los íconos */
.detail-item i {
    margin-right: 15px;
    font-size: 1.6rem;
    color: #007BFF; /* Color azul para íconos */
    transition: color 0.3s ease; /* Efecto al pasar el mouse */
}

/* Estilo de los detalles */
.detail-item div {
    display: flex;
    flex-direction: column;
}

.detail-item strong {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.detail-item p {
    color: #666;
    font-size: 1rem;
}

/* Efectos al pasar el mouse por los íconos */
.detail-item:hover i {
    color: #0056b3; /* Cambio de color en hover */
}

.detail-item:hover {
    transform: translateX(10px); /* Desplazamiento de los detalles al pasar el mouse */
}

/* Estilo para los títulos */
h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

p {
    font-size: 1.1rem;
    color: #666;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Pone los elementos en columna en pantallas pequeñas */
        padding: 20px;
    }

    .contact-info, .map-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/* Responsividad */
@media (max-width: 768px) {
    .top-header ul {
        flex-direction: column;
        align-items: center;
        padding: 0; /* Elimina el padding para evitar espacio adicional */
    }

    .top-header ul li {
        margin: 10px 0; /* Aumenta el margen entre los elementos de la barra */
    }

    .top-header .logo img {
        height: 30px; /* Ajusta el tamaño del logo para pantallas pequeñas */
    }

    .cart-icon {
        margin-left: 0; /* Asegura que el carrito esté alineado correctamente */
    }

    .location-select {
        margin-top: 10px;
        margin-right: 0;
        width: 100%; /* Hace que el selector de sucursal ocupe el 100% del espacio */
        padding: 10px;
        font-size: 16px;
    }

    .services-container, .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card, .service-card {
        width: 100%;
        margin: 10px 0;
    }

    /* Opcional: Ajusta la altura del header y el texto */
    header {
        padding: 100px 20px; /* Reduce el padding superior */
    }

    header h1 {
        font-size: 2em; /* Reduce el tamaño del título */
    }

    header p {
        font-size: 1.1em; /* Ajusta el tamaño del texto */
    }
}

