<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Produccion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
  <link rel="icon" href="resources/images/fevicon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css" />

  <!DOCTYPE html>
  <html lang="es">
  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vista Restringida</title>
  
    
      <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.87);
            border: 2px solid #ccc;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 900px;
            padding: 20px;
        }

        .left-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
        }

        .maintenance-image {
            max-width: 250px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .boton {
            width: 100%;
            max-width: 150px;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
        }
        .boton:hover {

            background-color: #258eff;
            color: #fff;

        }
    

        .right-section {
            max-width: 500px;
        }

        .maintenance-title {
            font-size: 30px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            margin-bottom: 10px;
        }

        .maintenance-text {
            font-size: 18px;
            color: #333;
            margin-bottom: 15px;
            text-align: justify;
        }

        .footer-warning {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #ffffff;
        }

        .footer-warning p {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left-section">
            <img src="/resources/images/logo/404.png" alt="Error 404" class="maintenance-image">
            <a href="/pagina_pedidos/logout" class="boton">Volver al Inicio</a>
        </div>
        <div class="right-section">
            <h1 class="maintenance-title">¡Oops! Algo salió mal.</h1>
            <p class="maintenance-text">Parece que has llegado a una página que no existe o no tienes permiso para acceder.</p>
            <p class="maintenance-text">Si crees que esto es un error, por favor inicia sesión nuevamente o contacta al soporte técnico.</p>
            <p class="maintenance-text">Haz clic en el botón de abajo para regresar al inicio y continuar navegando.</p>
        </div>
    </div>
    

    
</body>
  </html>
  