<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" href="#" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport"
            content="width=device-width,initial-scale=1,user-scalable=no" />
        <title>DataTables estilo Bootstrap 5 - NodeJS y Express</title>
        <link rel="stylesheet" href="resources/css/RegistroTablas.css" />
        <link rel="icon" href="resources/images/fevicon.png" type="image/png" />
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>

        <!-- Encabezado -->
        <div class="header-container">
            <div class="breadcrumb">

                <a href="/empleados" class="reporte-link ">
                    <h1
                        style="color: #858B92; font-weight: bold; margin-right: 5px;">Gestion
                        Empleados</h1>
                </a>
                <h2 style="font-size: 40px; margin: 0 10px;">›</h2>
                <a href="/ciudades" class="reporte-link ">
                    <h1
                        style="color: #858B92; font-weight: bold; margin-right: 5px;">Ciudades</h1>
                </a>
                <h2 style="font-size: 40px; margin: 0 10px;">›</h2>
                <h1 style="font-weight: bold;">Papeleria</h1>
            </div>

        </div>

        <div class="card3">
            <div class="header-card1">
                <span>Registro de Ciudades</span>
            </div>

            <div class="content-card-registro">
                <table id="tablaCiudades" class="table-registro">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Generación dinámica de filas con datos de ciudades -->
                        <% results.forEach(function(ciudad) { %>
                        <tr>
                            <td><%= ciudad.ID_Ciudad %></td>
                            <td><%= ciudad.Nombre %></td>
                            <td style="width: 200px;">
                                <select
                                    class="form-select-action acciones-select"
                                    aria-label="Acciones">
                                    <option selected disabled>Selecciona una
                                        acción</option>
                                    <option value="editar">Editar</option>
                                    <option value="Restaurar">Restaurar</option>
                                    <option value="copiar">Copiar</option>
                                </select>
                            </td>

                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <script type="text/javascript" language="javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>

        <script>
      $(document).ready(function () {
          let url = "/ciudades/"; // Define la URL para las operaciones CRUD
          let opcion = null;
  
          // Inicializa DataTable
          let tablaCiudades = $("#tablaCiudades").DataTable({
              json: {
                  url: url,
                  dataSrc: "",
              },
              columns: [
                  { data: "ID_Ciudad" },
                  { data: "Nombre" },
                  {
                      defaultContent: `
                          <td style="width: 200px;">
                              <select class="form-select acciones-select">
                                  <option selected disabled>Selecciona una acción</option>
                                  <option value="editar">Editar</option>
                                  <option value="Restaurar">Restaurar</option>
                                  <option value="copiar">Copiar</option>
                              </select>
                          </td>`
                  },
              ],
              language: {
                  url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
              },
          });
          // Manejar el evento del select para Imprimir PDF o Exportar CSV
          $("#opciones").change(function () {
              let selectedOption = $(this).val();

              if (selectedOption === "pdf") {
                  // Abrir en una nueva ventana/pestaña
                  window.open("/impre_ciudades", '_blank');
              } else if (selectedOption === "excel") {
                  // Llamar la función para exportar a CSV
                  exportToExcel();
              }
          });


            // Función para exportar los datos a Excel
          function exportToExcel() {
                // Crear un nuevo libro de Excel
                var wb = XLSX.utils.book_new();

                // Obtener los datos de la tabla incluyendo la columna de IDs y excluyendo la columna de acciones
                var wsData = [];
                $("#tablaCiudades tbody tr").each(function () {
                    var rowData = [];
                    $(this).find("td").each(function () {
                        rowData.push($(this).text().trim());
                    });
                    wsData.push(rowData);
                });

                // Crear una hoja de trabajo con los datos obtenidos
                var ws = XLSX.utils.aoa_to_sheet([["ID_ciudad", "nombre"]].concat(wsData));

                // Agregar la hoja de trabajo al libro
                XLSX.utils.book_append_sheet(wb, ws, "Ciudades");

                // Guardar el libro como un archivo Excel
                XLSX.writeFile(wb, "ciudades.xlsx");
          }
          $('#tablaCiudades tbody').on('change', '.acciones-select', function () {
    var data = tablaCiudades.row($(this).parents('tr')).data(); // Obtener datos de la fila actual
    var accion = $(this).val(); // Obtener la acción seleccionada

    if (accion === 'editar') {
        // Acción para editar
        Swal.fire({
            title: 'Editar Ciudad',
            html: `
                <div class="form-container">
                    <input type="text" id="ID_Ciudad" hidden value="${data.ID_Ciudad}" />
                    
                    <label for="Nombre" class="col-form-label">Nombre</label>
                    <input type="text" id="Nombre" class="form-input swal2-input" value="${data.Nombre}" 
                           maxlength="50" required oninput="this.value = this.value.trimStart()" placeholder="Ingrese el nombre">
                </div>
            `,
            showCancelButton: true,
            confirmButtonText: 'Guardar',
            cancelButtonText: 'Cancelar',

            preConfirm: () => {
                const nombre = Swal.getPopup().querySelector('#Nombre').value.trim();

                // Validación del campo Nombre
                if (!nombre) {
                    Swal.showValidationMessage('Por favor, ingrese el nombre');
                    return false;
                }

                // Verificar si el nombre contiene solo letras y espacios
                if (!/^[A-Za-z\s]+$/.test(nombre)) {
                    Swal.showValidationMessage('El nombre solo debe contener letras y espacios');
                    return false;
                }

                return { Nombre: nombre };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const formData = { ID_Ciudad: data.ID_Ciudad, Nombre: result.value.Nombre, opcion: 'editar' };
                $.ajax({
                    type: 'POST',
                    url: url + data.ID_Ciudad,
                    data: formData,
                    success: function () {
                        Swal.fire('¡Guardado!', 'Ciudad editada con éxito', 'success').then(() => {
                            window.location.reload(); // Recarga la página después de guardar
                        });
                    }
                });
            }
        });
    }else if (accion === 'Restaurar') {
                  // Acción para eliminar
                  Swal.fire({
                      title: '¿Estás seguro?',
                      text: "¡Vamos a Restaurar este dato",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Sí, Restaurar',
                      cancelButtonText: 'Cancelar',
                  }).then((result) => {
                      if (result.isConfirmed) {
                          $.ajax({
                              type: 'POST',
                              url: url + data.ID_Ciudad,
                              data: { opcion: 'Restaurar' },
                              success: function () {
                                  Swal.fire('Restaurar!', 'La ciudad ha sido Restaurada.', 'success').then(() => {
                                      window.location.reload();
                                  });
                              }
                          });
                      }
                  });
              } else if (accion === 'copiar') {
                  // Acción para copiar
                  var datosFila = [data.ID_Ciudad, data.Nombre].join("\t");
                  navigator.clipboard.writeText(datosFila).then(function () {
                      alert("¡Datos copiados al portapapeles!");
                  }).catch(function (error) {
                      alert("Error al copiar datos al portapapeles");
                  });
              }
  
              // Reiniciar el select después de la acción
              $(this).val('Selecciona una acción');
          });
  
        
   
          
          // Botón copiar (opcional)
          $("#tablaCiudades").on("click", ".btnCopiar", function () {
              var fila = $(this).closest("tr");
              var datosFila = fila.find("td").map(function () {
                  return $(this).text();
              }).get();
              var datosCopiar = datosFila.join("\t");
  
              navigator.clipboard.writeText(datosCopiar).then(function () {
                  alert("¡Datos copiados al portapapeles!");
              }).catch(function (error) {
                  alert("Error al copiar datos al portapapeles");
              });
          });
      });
  </script>

    </body>

</html>
