<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/resources/css/Formulario.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Formulario</title>
</head>

<body>

    <!-- Encabezado -->
    <div class="header-container">
        <div class="breadcrumb">
            <a href="/empleados" class="reporte-link "><h1 style="color: #858B92; font-weight: bold; margin-right: 5px;" >Recursos Humanos</h1></a>
            <h2 style="color: #858B92; font-weight: bold; margin-right: 5px;">›</h2>
            <a href="/empleados" class="reporte-link"><h1 style="color: #858B92; font-weight: bold; margin-right: 5px;">Gestion Empleados</h1></a>
            <h2 style="font-size: 40px; margin: 0 10px;">›</h2>
            <h1 style="font-weight: bold;">Formulario de edicion</h1> <!--recuperar nombre de la caja seleccionada-->
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <label class="text" for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label class="text" for="apellido">Apellido</label>
            <input type="text" id="apellido" class="form-control" placeholder="Apellido">
        </div>
    
        <div class="form-group">
            <label class="text" for="ciudad">Ciudad</label>
            <select id="ciudad" class="form-select">
                <option value="">- Selecciona Ciudad -</option>
                <!-- Agregar más opciones -->
            </select>
        </div>
        <div class="form-group">
            <label class="text" for="departamento">Departamento</label>
            <select id="departamento" class="form-select">
                <option value="">- Selecciona Departamento -</option>
                <!-- Agregar más opciones -->
            </select>
        </div>
    
        <div class="form-group">
            <label class="text" for="ci">CI</label>
            <input type="text" id="ci" class="form-control" placeholder="CI">
        </div>
        <div class="form-group">
            <label class="text" for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" class="form-control" placeholder="Fecha de Nacimiento">
        </div>
    
        <div class="form-group">
            <label class="text" for="direccion">Direccion</label>
            <input type="text" id="direccion" class="form-control" placeholder="Direccion">
        </div>
        <div class="form-group">
            <label class="text" for="correo">Correo</label>
            <input type="email" id="correo" class="form-control" placeholder="Correo">
        </div>
    
        <div class="form-group">
            <label class="text" for="telefono">Telefono</label>
            <input type="text" id="telefono" class="form-control" placeholder="Telefono">
        </div>
        <div class="form-group">
            <label class="text" for="telefono_referencia">Telefono Referencia</label>
            <input type="text" id="telefono_referencia" class="form-control" placeholder="Telefono Referencia">
        </div>
    
        <div class="form-group">
            <label class="text" for="rol">Rol</label>
            <input type="text" id="rol" class="form-control" placeholder="Rol">
        </div>
        <div class="form-group">
            <label class="text" for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" class="form-control" placeholder="Contraseña">
        </div>
    
        <div class="form-group" style="grid-column: span 1;">
            <button class="btn-danger" type="submit">Guardar</button>
        </div>
    </div>
    
        

    
</body>


</html>